<ul xmlns="http://www.w3.org/1999/xhtml" class="nav navbar-nav">
    <li>
        <a href="toc.html">Table of Contents</a>
    </li>
    <li>
        <a href="index.html">IG Home</a>
    </li>
    <li class="dropdown">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">Guidance<b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li>
                <a href="fp-1989e119-f04f-48e5-89e1-19f04fb8e123.html">Important Notes</a>
            </li>
            <li>
                <a href="fp-db11d3be-6643-471a-91d3-be6643e71a7a.html">Introduction</a>
            </li>
            <li>
                <a href="fp-f90f93c1-2a58-4b42-8f93-c12a58cb4219.html">Technical Background</a>
            </li>
            <li>
                <a href="fp-6b5529b2-6c73-42ba-9529-b26c7352bad9.html">Functional requirements and high-level use cases</a>
            </li>
            <li>
                <a href="fp-aad25e8f-a199-4dad-925e-8fa1995dad81.html">Code mappings and multilingual support</a>
            </li>
            <li>
                <a href="fp-1c7c828b-28f2-4e9c-bc82-8b28f26e9cab.html">Design conventions and principles</a>
            </li>
            <li>
                <a href="fp-cf9114e2-8bab-456c-9114-e28bab156cfe.html">Determining the Status of Clinical Statement</a>
            </li>
            <li>
                <a href="fp-2cb4a6c4-d299-44b4-b4a6-c4d29934b4f2.html">The use of medication statements in the summary</a>
            </li>
            <li>
                <a href="fp-d1165c7d-3728-4f71-965c-7d37280f71dd.html">Conformance clause</a>
            </li>
            <!--<li>
                <a href="fp-6433a150-f8a2-4ffb-b3a1-50f8a2cffbf3.html">List of all artifacts used in this guide</a>
            </li>-->
            <li>
                <a href="fp-867991e9-f04f-48e5-89e1-19f04fb8e123.html">Appendix (Informative)</a>
            </li>
        </ul>
    </li>
    <!--   <li><a href="downloads.html">Downloads</a></li> -->
    <li>
        <a href="artifacts.html">Artifact Index</a>
    </li>
    <!--   <li><a href="terminology.html">Terminology</a></li>
  <li><a href="changes.html">Change Log</a></li> -->
</ul>